*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Poppins';
}

:root{
    --primaryColor:#476aa0 ;
    --white: #fff;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #cbd8eb;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primaryColor);
}

#container h1{
    font-size: 4rem;
}

/* .ready{
    width: 40vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ready p{
    font-size: 1.5rem;
} */

form{
    margin: 1rem 0;
    display: none;
}

form p{
    font-weight: bold;
}

form input{
    width: 15vw;
    height: 5vh;
    padding: 0.5rem 0.8rem;
    color: var(--primaryColor);
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    margin: 0.2rem 0 0;
    border: 1px solid var(--primaryColor);
}

form input::placeholder{
    color: #c2c2c2;
    font-style: italic;
}

.btn
/* .pageButton */
{
    text-decoration: none;
    color: var(--primaryColor);
    width: 7rem;
    height: 2rem;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primaryColor);
    margin: 10px 0;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
} 

.btn:hover 
/* .pageButton:hover */
{
    background-color: var(--primaryColor);
    color: var(--white);
}
/* 
.btn, form{
    display: none;
} */

#selContainer{
    width: 100%;
    height: 100%;
    padding: 10rem 3rem;
    color: var(--primaryColor);
}

.fieldSection,
.difficulty{
    margin: 4rem 0 0;
    color: black;
}

#select{
    width: 20vw;
    height: 5vh;
    padding: 0.5rem;
    outline: none;
}

.questionContainer{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.question{
    width: 30vw;
    height: 20vh;
    background-color: var(--white);
    color: var(--primaryColor);
    padding: 3rem 0 0;
    border-radius: 10px;
    text-align: center;
}